.bg{
    /* background-image: url("pemesanan.png"); */
    background-size: cover;
    background-position: center;
    padding: 80px;
    height: 250vh;
    background-attachment: fixed;
    background-color: #dbdbdb;
}
