.adminbg {
    display: flex;
    
    flex-direction: row;
    /* min-width: min-content; */
    min-height: 100vh;
    /* background-image: url("walpaperadmin.png"); */
    background-size: cover;
    background-position: center;
    /* padding: 10px;  */
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}